# CMake files
/build/
/CMakeFiles/
/CMakeCache.txt

# Compilation files
*.o
*.obj
*.exe
*.out

# System files
*.log
*.DS_Store
__MACOSX/
*_Zone.Identifier

# Editor files
*.swp
*.swo
*.vscode/

# Output
*.csv

# Course
pf2024.pdf

# Format files
.clang-format