# Cartella di build di CMake
/build/
/CMakeFiles/
/CMakeCache.txt

# File temporanei di compilazione
*.o
*.obj
*.exe
*.out

# File generati dal sistema
*.log
*.DS_Store
__MACOSX/
*_Zone.Identifier

# File generati da editor
*.swp
*.swo
*.vscode/

# File di output
*.csv

pf2024.pdf